.container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.picWrap {
    width: 85vw;
    height: 75vw;
    max-width: 450px;
    max-height: 400px;
    position: relative;
    transition: all 700ms ease-out;
    perspective: 1000px;
  }
  .pic-wrap:hover {
    transition: all 400ms linear;
    transform: scale(1.1);
  }
  .picture {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background: url(./../../images/bookImg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(104, 82, 75);
    font-size: 30px;
    text-transform: uppercase;
    transition: all 700ms ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px 2px rgb(2, 2, 2);
    border-radius: 10px;
  }
  .picture span {
    transform: translateZ(40px);
  }
  .tilt {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
  }
  .tilt:hover ~ .picture {
    box-shadow: 0px 0px 50px 5px rgb(87, 151, 91);
    text-shadow: 0px 0px 3px rgb(87, 151, 91);
  }
  .tilt:nth-child(1) {
    top: 0;
    left: 0;
  }
  .tilt:nth-child(2) {
    top: 33.333%;
    left: 0;
  }
  .tilt:nth-child(3) {
    top: 66.666%;
    left: 0;
  }
  .tilt:nth-child(4) {
    top: 0;
    left: 33.333%;
  }
  .tilt:nth-child(5) {
    top: 33.333%;
    left: 33.333%;
  }
  .tilt:nth-child(6) {
    top: 66.666%;
    left: 33.333%;
  }
  .tilt:nth-child(7) {
    top: 0;
    left: 66.666%;
  }
  .tilt:nth-child(8) {
    top: 33.333%;
    left: 66.666%;
  }
  .tilt:nth-child(9) {
    top: 66.666%;
    left: 66.666%;
  }
  
  .tilt:nth-child(1):hover ~ .picture {
    transform: rotateX(20deg) rotateY(-20deg);
  }
  .tilt:nth-child(2):hover ~ .picture {
    transform: rotateX(0deg) rotateY(-20deg);
  }
  .tilt:nth-child(3):hover ~ .picture {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
  .tilt:nth-child(4):hover ~ .picture {
    transform: rotateX(20deg) rotateY(0deg);
  }
  .tilt:nth-child(5):hover ~ .picture {
    transform: rotateX(0deg) rotateY(0deg);
  }
  .tilt:nth-child(6):hover ~ .picture {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  .tilt:nth-child(7):hover ~ .picture {
    transform: rotateX(20deg) rotateY(20deg);
  }
  .tilt:nth-child(8):hover ~ .picture {
    transform: rotateX(0deg) rotateY(20deg);
  }
  .tilt:nth-child(9):hover ~ .picture {
    transform: rotateX(-20deg) rotateY(20deg);
  }